* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#main {

    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
}

body {

    height: 100%;
    margin: 0;
    /* background-color: rgb(215, 122, 107); */
    background-color:  rgb(255, 177, 137) ;
     /* background-color: rgb(137, 170, 196); */
    /* background-color: rgb(220, 165, 179); */
    padding: 1px;

}

.con {
    height: 300px;
    overflow: scroll;
    padding-right: 10px;
    text-align: left;
    width: 920px;
    margin: 10px;
    border-radius: 24px;
    height: 420px;
    background-color: transparent;
    padding-left: 10px;
}

.containerr {
    margin: 20px auto;
    width: 960px;
    color: #000000;
    padding: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    box-sizing: border-box;
    border: 3px solid rgb(230, 114, 33);
    border-radius: 24px;
}

.container {
    margin: 20px auto;
   
    width: 900px;
    color: #000000;
    padding: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* background: rgba(0, 0, 0, 0.5); */
    background-color:rgb(217,217,217);
    /* margin-top: 15px;
    margin-bottom: 15px; */
    box-sizing: border-box;
    border:none;
    border-radius: 8px;
}

.container1 {
    margin: 20px auto;
    max-width: 600px;
    color: rgb(230, 114, 33);
    padding: 30px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background: rgba(0, 0, 0, 1);
    margin-top: 45px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid rgb(230, 114, 33);
    border-radius: 8px;
}

/* .main-container {
    background-color:  rgb(137, 196, 137);
    margin: 85px;
    height: 900px;
    border: 5px solid brown;
    border-radius: 60px;
} */

a {
    text-decoration: none;
    color: antiquewhite;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    margin: 0px -20px;
    justify-content: flex-start;
}

.nav {
    margin: -1px;
    padding: 0 120px;
    z-index: 999;
    width: 105%;

}

#google_translate_element {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;


}

.nav,
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo,
.nav_link,
.button {
    color: #fff;
}

.nav_logo {
    font-size: 25px;
}

.nav_item {
    column-gap: 25px;
}

.nav_link:hover {
    color: #d9d9d9;
}

.button {
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

h2 {
    margin-top: 90px;
    /* Adjusted margin-top */
    text-align: center;
}



label {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}


.con::-webkit-scrollbar {
    width: 12px;
}

.con::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: transparent;
}

.con::-webkit-scrollbar-track {
    background-color: transparent;
}

.time-right {
    float: right;
    color: #000000;
}

.time-left {
    float: left;
    color: #000000;
}

#bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -2;
    filter: blur(3px);
}
input#username {
   
    width: 200px;
}

#submitBtn {
    font-size: 17px;
    padding: 10px 22px;
    width: 50%;
    border-radius: 20px;
    background: transparent;
    background-color: transparent;
    color: rgb(230, 114, 33);
    border: 2px solid rgb(230, 114, 33);
    cursor: pointer;
    transition: background 0.3s ease,width 0.3s ease, padding 0.3s ease, border 0.3s ease;
    padding: 10px;

}

#submitBtn:hover {
    background: rgb(230, 114, 33);
    padding: 10px 30px;
    color:black; width: 55%;
    border: 2px solid black;
}
#submitBtn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

#submitBtn[disabled]:hover {
    opacity: 0.5;
    cursor: not-allowed;
    color: rgb(255, 255, 255);
    background: rgb(33, 37, 64);
    width: 180px;
}


.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 500px;
}

form {
    width: 360px;
}


.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    width: 250px;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #444242;
}

.login-content .input-div.one {
    
    margin-top: 20px;
}

.input-div>div {
    position: relative;
    height: 55px;
}

.input-div>div>h5 {
    position: relative;
    text-align: left;
    left: 10px;
    top: 5%;
    width: 550px;
    transform: translateY(-50%);
    color: rgb(230, 114, 33);
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 3px;
    background-color:rgb(230, 114, 33);
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

/* .input-div.focus>.i>i {
    color: rgb(215, 122, 107);
} */

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}